	header{
		font-size: 60px;
		text-align: center;
	}
	nav{
		background-color: purple;
	}
	nav>p{
		text-align: center;
		color: white;
	}
	footer{
		background-color: purple;
	}
	footer>p{
		text-align: center;
		color: white;
	}